html, body {
    min-width: 800px;
}

.dropdown-toggle:empty::after {
    margin-bottom: 7px;
}

.custom-container {
    margin: 20px;
}

#scroll-container {
    overflow-y: auto;
}

#by_day_table {
    td {
        white-space: nowrap;
    }
}

