<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Spokane OD Tracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'home' %}"
            >Current Month</a
          >
        </li>
        <li>
          <a class="nav-link active" href="{% url 'home' %}?time_period=all_time">All Time</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'add_incident' %}"
            >New Incident</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'logout' %}"
            >Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'register' %}"
            >Register</a
          >
        </li>
        {% endif %}
      </ul>
      <div id="filter_and_search" class="d-flex gap-3">
        {% include 'filter.html' %}
        <form class="d-flex" role="search" action="{% url 'home' %}" method="get">
          {% if request.GET.time_period %}
          <input type="hidden" name="time_period" value="{{ request.GET.time_period }}">
          {% endif %}
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="query"
          />
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
