<div style="display: flex; justify-content: flex-start; align-items: top; gap: 20px; height: 370px">
  <div style="overflow-y: auto; margin: 0;">
    <table id="fixed-table" class="table table-bordered" style="width: fit-content; height: 100%; margin-bottom: 0;">
      <tbody>
        <tr>
          <th scope="row">Reported ODs Today</th>
          <td>{{ OD_count_today }}</td>
        </tr>
        <tr>
          <th scope="row">Reported ODs This Month</th>
          <!-- <th scope="row">Reported ODs Since {{ earliest_date }}</th> -->
          <td>{{ OD_count_since_earliest_incident_date }}</td>
        </tr>
        <tr>
          <th scope="row">Reported Fatal Incidents This Month</th>
          <!-- <th scope="row">Reported Fatal Incidents Since {{ earliest_date }}</th> -->
          <td>{{ fatalities_since_earliest_incident_date }}</td>
        </tr>
        <tr>
          <th scope="row">Average Number Of Incidents Reported Per Day</th>
          <td>{{ average_incidents_per_day }}</td>
        </tr>
        <tr>
          <th scope="row">Average Number Of Fatalities Reported Per Day</th>
          <td>{{ average_fatal_incidents_per_day }}</td>
        </tr>
        <tr>
          <th scope="row">On Average, 1 OD Every</th>
          <!-- <th scope="row">Currently 1 OD Every</th> -->
          <td>{{ average_time_between_ods_in_hours_str }}</td>
        </tr>
        <tr>
          <th scope="row">On Average, 1 Fatal Incident Every</th>
          <!-- <th scope="row">Currently 1 Fatal Incident Every</th> -->
          <td>{{ one_fatal_incident_every_x_days_str }}</td>
        </tr>
        <tr>
          <th scope="row">Projected End of Month Total At Current Rate</th>
          <td>{{ projected_end_of_month_total }}</td>
        </tr>
        <tr>
          <th scope="row">Highest Incident Day This Month</th>
          <td>{{ highest_incident_date_this_month }}, {{ most_in_single_day_this_month }} incidents</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div id="scroll-container" style="border: 1px solid #ccc;">
    <table class="table table-bordered" id="by_day_table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Incidents Reported</th>
        </tr>
      </thead>
      <tbody>
        {% for incident in incidents_per_day %}
        <tr>
          <td>{{ incident.date_only }}</td>
          <td>{{ incident.daily_total }}</td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <div id="scroll-container" style="border: 1px solid #ccc;">
    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>Weekday</th>
          <th>Incidents Reported</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in incidents_by_weekday.items %}
        <tr>
          <td>{{ key }}s</td>
          <td>
            <div style="float: left">{{ value.0 }}</div>
            <div style="float: right">({{ value.1 }}%)</div>
          </td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <div id="scroll-container" style="border: 1px solid #ccc;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hour of Day</th>
          <th>Incidents Reported</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in incidents_by_hour.items %}
        <tr>
          <td>{{ key }}</td>
          <td>
            <div style="float: left">{{ value }}</div>
          </td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
     -->
     <div class="chart-container">
       <img src="data:image/png;base64,{{ graph }}" alt="Incidents per Day">
     </div>

     <div class="chart-container">
      <img src="data:image/png;base64,{{ graph2 }}" alt="Incidents by Weekday">
    </div>
  
    <div class="chart-container">
      <img src="data:image/png;base64,{{ graph3 }}" alt="Incidents by Hour">
    </div>

    <div style="width: 750px; height: 100%; border: 1px solid black; overflow: hidden;">
      {{ map|safe }}
    </div>

  </div>

</div>
